/* root*/
html, body {
  height: 100%;
  margin: 0;
  background-color: #eaf3d2;
}

/* Nav bar*/
.navbar{
  position: sticky;
  top: 35px;
  z-index:10000;
  display: flex;
  align-items: center;
  background-color: #eaf3d2;
  padding: 10px 20px;
  height: 9vh;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.2px solid #04170c;;
  
}
.nav-left a{
  color: var(--dark-forest);
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-size: 15px;
}

/* Left Section: Logo + Links */
.nav-left {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-left img {
  height: 80px;
  display: block;
}
/* Right Section: Button */
.nav-right{
  display:flex;
  gap: 50px;
}
.contactButton{
  color: var(--dark-forest);
  background: none;
  border: none;
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-size: 15px;
  cursor: pointer;

}
.rrgHome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  margin-right: 4rem;
  background-color: #ec6e6e;
  border-radius: 100px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 10px;
  width: 115px;
  height: 49px; 
}
.rrgHome a{
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #e7e7e7;

}
/* Optional: hover effect */
.rrgHome:hover {
  background-color: #4CAF50;
  color: white;
}
.arrowRight{
  fill: #e7e7e7;
}
/* Container design */
.container {
    display: flex;
    flex-direction:column;
    margin: 0;
    width: 100%;
    transform: translateX(-100%); /* Start off-screen on the left */
    animation: slideIn 5s forwards;
  }
 @keyframes slideIn {
            0% {
                transform: translateX(-100%);
            }
            100% {
                transform: translateX(0);
            }
        }
.contact{
    background-color: #04170c;
    height: 35px;
    justify-content: center;
    align-items: center;
    color: white;
    display:flex;
    inset: 0;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1000;
  }
.bounce {
  position: absolute;
  left: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1px;
  animation: bounceText 15s ease-in-out infinite alternate;
}
       @keyframes bounceText {
      0% {
        left: 0;
      }
      100% {
        left: calc(100% - var(--text-width));
      }
    }

  .t1{
    color: grey;
    letter-spacing: -2.8px;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    background: none;
    border: none;
    position: relative;
    top: 12%;
    left:4%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
    
}
/*Wrappers*/
.wWrapper{
  gap: 0;
  display: flex;
  flex-direction: column;
  height: 130vh;
  background-color: #eaf3d2;

}
.connect{
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;
  gap:0;
  margin-top: 30px;
  text-wrap: wrap;
}

.flowWrapper {
  justify-content: center; /* Evenly spaces out flowcharts */
  align-items: center;
  margin-top: 60px;
  position: relative;
}
/*Mermaid styles*/
.mermaid {
  width: 90%; /* Adjust this width as needed to fit the page */
  height: 60vh;
  position: relative;
  left: 2%;
}
#flowchartM .node text {
    fill: none;
    cursor: pointer !important;
}
#flowchartM .node rect {
    fill: none;
    cursor: pointer !important;
}
#flowchartM .node:hover rect {
            fill: #ec6e6e !important;/* Change fill color on hover */
   
}
#flowchartM .node:hover text {
            fill: #ffffff !important; /* Change text color on hover */
}

.wWrapper h1,
.wWrapper p{
  font-family: Inter, sans-serif;
  color: var(--dark-forest);
  margin:0.4rem;
  padding:0;
}

.hiddenOverlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Lower z-index to allow interaction with elements below it */
  pointer-events: none;
}

.hiddenOverlay.active {
    pointer-events: auto; /* Enable interaction when the overlay is active */
}
.hiddenOverlay h1,
.hiddenOverlay p{
  font-family: Inter, sans-serif;
  color: white;
  margin:0.4rem;
  padding:0;
}
.hiddenOverlay * {
  pointer-events: auto;
}
.elevation .active{
  pointer-events: auto;
}

.return{
  background-color: #ec6e6e;
  border-radius: 100px;
  color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1000;
  pointer-events: auto;
  font-family: Inter, sans-serif;

}
.tecdoc {
  background-color: #ec6e6e;
  border-radius: 100px;
  color: white;
  width: 100px;
  height: 60px;
  position: absolute;
  top: 5px;
  right: 70px;
  z-index: 1000;
  pointer-events: auto;
  font-family: Inter, sans-serif;
}
.tecdoc a{
  text-decoration: none;
  color: white;


}
.optionbutton{
  background: none;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  color: white;
  width: 100px;
  height: 60px;
  z-index: 1000;
  pointer-events: auto;
  font-family: Inter, sans-serif;
}
.optionbutton:hover {
  color: #ec6e6e; /* Optional hover effect */
}

.elevation{
  background-color: #04170c;
  outline:2px #04170c;
  height: 700px;
  width: 80%;
  z-index: 10000;
  gap: 5px;
  position: relative;
  top: 20vh;
  left: 10%;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}
.note{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}

/* Headers */
.hWelcome{
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
}
/*Paragraphs*/
.pWelcome{
  justify-content: center;
  align-items: center;
}

/* IMG */



  /* Footer */
footer{
    background-color: #04170c;
    height: 90px;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    display:flex;
    inset: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1px;
  }
  footer a{
    text-decoration: none;
    color: white;
  }
    